@font-face{font-family:bnaz;src: url("../BNazanin/BNazanin.ttf");
margin: 0% auto;}
*{margin: 0px; font-family:bnaz ;}
a{color: azure; text-decoration:none;}
body{margin:0px;}  
header{ 
    background:linear-gradient(to bottom,rgb(244, 244, 247),rgb(49, 110, 243));}
    h1{text-align: center ;margin:0px ;}
    nav{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr; color:rgb(46, 43, 43) ;padding-top:5px ;font-size:25px ;
    direction: rtl;}
    nav div{ gap:5px;margin:5px ;text-align: center;cursor: pointer ;border-radius: 10%; border-bottom:20px; }
    nav div:hover{ border-radius: 10%; border-bottom:20px;  border-bottom:solid rgb(117, 117, 119) 4px ; margin:1px;}
    nav div a:hover{color: yellow;}
    nav div a:active{color: yellow;}




#parta{display: grid ;grid-template-columns:repeat(auto-fit,minmax(230px,1fr)); gap: 4px ; text-align: center; margin: 5px;
   }
#parta img{height: 150px;width: 150px; border-radius:50% ; border: 5px solid black; margin-bottom:12px; 
    animation: upcome ; animation-duration: 5s ;}

#parta div{background-color: rgb(87, 170, 68); cursor:pointer ; border-radius:10% ;}
#parta div:hover{background-color: rgb(40, 100, 40); }
#parta img:hover{height: 160px;width: 160px; border-radius:50% ; border: 5px solid black; margin-bottom:2px ;}
#parta div:active{background-color: rgb(40, 100, 40); }
#parta div p{background-color: brown;}

@keyframes upcome{from{margin-left:100%;}
to{margin-left:0% ;}    
}


#bartext{animation: bar 10s infinite 1s linear;}



@keyframes bar {from{right:100%} to{right: 0%;}
    
}



#partb{ text-align: center;}
#partb img{width:70%;}
#partb p{padding: 8px;margin-bottom: 10px; }


#partc{display: grid ;grid-template-columns:repeat(auto-fit,minmax(250px,1fr)); } 
#naghshe{background-repeat:no-repeat ;
    background-size:auto ;margin: 20px;
position: relative ;overflow: hidden;}


#naghshe .pinned{display: inline-block;height:20px ;width:15px ;
    animation: scale infinite; animation-duration: 3s  ;position:absolute ; }
#partc{display: grid ;grid-template-columns:repeat(auto-fit,minmax(250px,1fr)); } 
#naghshe  span{background-color: aqua; cursor: pointer;}
#naghshe  span div:hover{background-color: rgb(116, 122, 172); cursor: pointer;color: yellow;}
#naghshe  span div:active{background-color: blue;}

@keyframes scale{50%{transform:scale(2,2) ;}}



#partd{ text-align: center;margin: 0% 10%;}
#partd div{overflow: hidden;}
#backi{background-color: rgb(185, 198, 225);border-radius: 10%;height: 100%;}
#partd img{width:100%;height: auto;}
#partd .slides .slide{display:none}
#partd .slides .active {display: block;}
.slides{cursor:pointer;position: relative;}
.right{display: none;}
.left{display:none ;}
   .activeate{display: flex ;position: absolute;background-color: rgb(78, 23, 206);
    right: 0%; height:100% ; width: 7%;color: white;
    justify-content: center;align-items: center; 
    }
    #partd img{width:100%;height: auto;}
  
.slides .left{left: 0%;}
.left:hover{background-color:  rgba(4, 84, 255,0.4);}
.right:hover{background-color: rgba(4, 84, 255,0.4);}

@keyframes sheetpaper{from{right:90%} to{right: 0%;}    
}










footer{text-align: center;border-top:solid 3px ;display: grid ;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));margin:0px ;color: aliceblue;}
footer div{ background:linear-gradient(to bottom ,rgb(51, 51, 143), rgb(22, 22, 241));text-align: center;}
footer div p{padding:8px ;}
#addressmap{ width:200px ;} 
#mapad{height:200px }
#mapad img:hover{width:220px ;}


@media screen and (max-width:2000px){ #mini_menue{ background-color: blue; } .minimmm{display: none;}}
@media screen and (max-width:660px){ footer div{ background:linear-gradient(to bottom ,rgb(128, 0, 128), purple);
    overflow: auto; }  }
@media screen and (max-width:560px){nav{display: none;} #corpname{display: none; }  .minimmm{display: block;}  }
