@font-face{font-family:bnaz;src: url("../BNazanin/BNazanin.ttf");
}
*{margin: 0px; font-family:bnaz ;}
a{color: azure; text-decoration:none;}
body{margin:0px;}  
header{ 
    background:linear-gradient(to bottom,rgb(244, 244, 247),rgb(49, 110, 243));}
    h1{text-align: center ;margin:0px ;}
    nav{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr; color:rgb(46, 43, 43) ;padding-top:5px ;font-size:25px ;
    direction: rtl;}
    nav div{ gap:5px;margin:5px ;text-align: center;cursor: pointer ;border-radius: 10%; border-bottom:20px; }
    nav div:hover{ border-radius: 10%; border-bottom:20px;  border-bottom:solid rgb(117, 117, 119) 4px ; margin:1px;}
    #language :hover{color: yellow;}    





         
    main ::selection{ background-color:red;}
    

    main{display: grid;grid-template-columns:1fr 3fr 1fr ;}
    #notes{background:linear-gradient(to top,white, rgb(58, 89, 213));text-align:right;direction: rtl;
    margin-top: 30px;overflow:auto ;}












    

    footer{text-align: center;border-top:solid 3px ;display: grid ;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));margin:0px ;color: aliceblue;}
    footer div{ background:linear-gradient(to bottom ,rgb(51, 51, 143), rgb(22, 22, 241));text-align: center;}
    footer div p{padding:8px ;}
    #addressmap{ width:200px ;} 
    #mapad{height:200px }
    #mapad img:hover{width:220px ;}
    
    
    @media screen and (max-width:2000px){ #mini_menue{ background-color: blue; } .minimmm{display: none;}}
    @media screen and (max-width:660px){ footer div{ background:linear-gradient(to bottom ,rgb(128, 0, 128), purple);
        overflow: auto; }  }
    @media screen and (max-width:560px){nav{display: none;} #corpname{display: none; }  .minimmm{display: block;}  }
    